<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments :: header}">

</head>
<body>
<div th:replace="~{fragments :: topbar}"></div>
<div th:replace="~{fragments :: navbar-detail}"></div>
<div class="container-fluid">

    <div class="container">
        <!-- Title -->
        <span id="msg" style="color: red"></span>
        <div id="notify" th:if="${canceledOrder==1}">
            <span th:if="${canceledOrder==1}" style="color: green">Hủy đơn hàng thành công</span>
            <span th:if="${reOrderStatus==1}" style="color: green">Đặt lại thành công</span>
        </div>
        <div class="d-flex justify-content-between align-items-center py-3">
            <h2 class="h5 mb-0" th:text="'Đơn hàng #'+ ${Order.id}"><a href="#" class="text-muted"></a> Đơn hàng
                #${Order.orderId}</h2>
            <div th:if="${Order.orderStatus.name() !='CANCELED'}">
                <a  th:href="@{/huy-don-hang(id = ${Order.id})}" id="cancel-order" type="button" class="btn btn-primary"
                         th:text="'Huỷ đơn hàng'">Hủy đơn hàng
                </a>
            </div>
            <div th:if="${Order.orderStatus.name()=='CANCELED'}">
                <a th:href="@{/dat-lai(id = ${Order.id})}" id="replace-order" type="button" class="btn btn-primary"
                   th:text="'Đặt lại'">Hủy đơn hàng
                </a>
            </div>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">
                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="mb-3 d-flex justify-content-between">
                            <div>
                                <span class="me-3">Trạng thái</span>
                                <span th:if="${Order.orderStatus.name() =='PENDING'}" th:text="'Chờ xác nhận'"
                                      class="badge rounded-pill bg-info"></span>
                                <span th:if="${Order.orderStatus.name() =='TO_SHIP'}" th:text="'Chờ lấy hàng'"
                                      class="badge rounded-pill bg-info"></span>
                                <span th:if="${Order.orderStatus.name() =='TO_RECEIVE'}" th:text="'Đang giao hàng'"
                                      class="badge rounded-pill bg-info"></span>
                                <span th:if="${Order.orderStatus.name() =='COMPLETED'}" th:text="'Đã giao hàng'"
                                      class="badge rounded-pill bg-info"></span>
                                <span th:if="${Order.orderStatus.name() =='CANCELED'}" th:text="'Đã hủy'"
                                      class="badge rounded-pill bg-info"></span>
                            </div>
                            <div class="d-flex">
                                <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i
                                        class="bi bi-download"></i> <span class="text">Hóa đơn</span></button>
                                <div class="dropdown">
                                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <table class="table table-borderless">
                            <tbody th:each="item : ${Order.orderDetailList}">
                            <tr>
                                <td>
                                    <div class="d-flex mb-2">
                                        <div class="flex-shrink-0">
                                            <img th:src="'data:image/jpeg;base64,' + ${item.product.image}" alt=""
                                                 width="35" class="img-fluid">
                                        </div>
                                        <div class="flex-lg-grow-1 ms-3">
                                            <h6 class="small mb-0"><a href="#" class="text-reset"
                                                                      th:text="${item.product.name}">${item.product_name}</a>
                                            </h6>
                                            <span class="small" th:text="'Số lượng: ' + ${item.quantity}">Số lượng: ${item.quantity}</span>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                                <td class="text-end" th:text="${item.product.salePrice}">${item.price}đ</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="2">Phí vận chuyển</td>
                                <td class="text-end" th:text="${Order.shippingFee}+'đ'">${Order.shippingFee}đ</td>
                            </tr>

                            <tr class="fw-bold">
                                <td colspan="2">Thành tiền</td>
                                <td class="text-end" th:text="${Order.totalPrice}+ 'đ'">${Order.totalPrice}đ</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!-- Payment -->
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <h3 class="h6">Đặt ngày</h3>
                                <p th:text="${Order.orderDate}">${Order.orderTime} <br>
                                <h3 class="h6">Phương thức thanh toán</h3>
                                <p>Thanh toán khi nhận hàng <br>
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <h3 class="h6">Địa chỉ nhận hàng</h3>
                                <address>
                                    <strong th:text="${session.receiverInfo.firstName} + ${session.receiverInfo.lastName}">${Order.recipientName}</strong>
                                    <br th:text="${session.receiverInfo.address}"><br>

                                    <abbr th:text="${session.receiverInfo.phoneNumber}" title="Phone">Phone:</abbr>
                                </address>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: footer}"></div>
<content tag="script">
    <script>
        function confirmCancel(status) {
            if (confirm("Xác nhận hủy đơn hàng")) {
                if (status === "PENDING" || status === "TO_SHIP") {
                    var currentUrl = window.location.href;
                    window.location.href = currentUrl.replace("chi-tiet-don-hang", "huy-don-hang");
                } else {
                    document.getElementById("msg").innerHTML = "Không thể hủy đơn hàng với trạng thái hiện tại "+status;
                }
            } else {

            }
        }
    </script>
</content>
</body>
</html>