<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{fragments :: header}">

</head>

<body>
<!-- Topbar Start -->
<div th:replace="~{fragments :: topbar}">
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:replace="~{fragments :: navbar-detail}">
</div>
<!-- Navbar End -->


<!-- Page Header Start -->
<!--<div class="container-fluid bg-secondary mb-5">-->
<!--    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">-->
<!--        <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>-->
<!--        <div class="d-inline-flex">-->
<!--            <p class="m-0"><a href="">Home</a></p>-->
<!--            <p class="m-0 px-2">-</p>-->
<!--            <p class="m-0">Shop Detail</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- Page Header End -->


<!-- Shop Detail Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class="w-100 h-100" th:src="'data:image/jpeg;base64,' + ${product.image}" alt="Image">
                    </div>

                </div>

            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <h3 class="font-weight-semi-bold" th:text="${product.name}"></h3>
            <div class="d-flex mb-3">
                <div class="text-primary mb-2" th:if="${intAvgRating}">
                    <th:block th:each="starNumber: ${#numbers.sequence(1,intAvgRating)}">
                        <i class="fas fa-star"></i>
                    </th:block>
                    <th:block th:each="starNumber: ${#numbers.sequence(intAvgRating + 1, 5)}">
                        <i class="far fa-star"></i>
                    </th:block>
                </div>
                <small th:if="${avgRating}" class="pt-1" th:text="${avgRating}+'/5'"></small>
                <small th:if="${avgRating} == null" class="pt-1" th:text="'Chưa có đánh giá cho sản phẩm này'"></small>
            </div>
            <h3 class="font-weight-semi-bold mb-4">$150.00</h3>
            <p th:text="${product.description}" class="mb-4"></p>

            <div class="d-flex align-items-center mb-4 pt-2">
                <div class="input-group quantity mr-3" style="width: 130px;">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-minus">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <input type="text" class="form-control bg-secondary text-center" value="1">
                    <div class="input-group-btn">
                        <button class="btn btn-primary btn-plus">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</button>
            </div>
            <div class="d-flex pt-2">
                <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
                <div class="d-inline-flex">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
                <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3" th:text="'Reviews ('+${reviewsCount}+')' "></a>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product Description</h4>
                    <p th:text="${product.description}"></p>
                </div>
                <div class="tab-pane fade" id="tab-pane-3">
                    <div class="row" th:each="item : ${reviews}">
                        <div class="col-md-6">
                            <h4 class="mb-4" th:text="${reviewsCount}+ ' review for ' + ${product.name}"></h4>
                            <div class="media mb-4" >
                                <img th:src="'data:image/jpeg;base64,' + ${item.customer.image}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6 th:text="${item.customer.username}">John Doe<small> - <i th:text="${item.createdAt}"></i></small></h6>
                                    <div class="text-primary mb-2">
                                        <th:block th:each="starNumber: ${#numbers.sequence(1,item.rating)}">
                                            <i class="fas fa-star"></i>
                                        </th:block>
                                        <th:block th:if="${item.rating < 5}" th:each="starNumber: ${#numbers.sequence(item.rating+1, 5)}">
                                            <i class="far fa-star"></i>
                                        </th:block>
                                    </div>
                                    <p th:text="${item.content}">Diam amet duo labore stet elitr ea clita ipsum, tempor labore accusam ipsum et no
                                        at. Kasd diam tempor rebum magna dolores sed sed eirmod ipsum.</p>
                                </div>
                            </div>
                        </div>
                        <div th:if="${isReviewed != null}" class="col-md-6">
                            <h4 class="mb-4">Leave a review</h4>
                            <small>Your email address will not be published. Required fields are marked *</small>
                            <form th:action="@{/danh-gia-san-pham(id=${product.id})}"
                                       method="POST" th:object="${review}">
                                <div class="d-flex my-3">
                                    <p class="mb-0 mr-2">Your Rating</p>
                                    <hr>
                                    <div class="container">
                                        <div class="row">
                                            <div class="rating" th:each="index : ${#numbers.sequence(1, 5)}">
                                                    <input type="radio" th:id="'star' + ${index}" th:name="rating" th:value="${index}" th:field="*{rating}"/>
                                                    <label th:for="'star' + ${index}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="message">Your Review *</label>
                                    <textarea id="message" cols="30" rows="5"
                                                   class="form-control" th:field="*{content}"></textarea>
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave Your Review"
                                           class="btn btn-primary px-3" />
                                </div>
                                <div th:if="${status}" class="text-center alert alert-success">
                                    <p th:text="${status}">
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


<!-- Products Start -->
<div class="container-fluid py-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">You May Also Like</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel related-carousel">
                <div class="card product-item border-0" th:each="item : ${productsByCategory}">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" th:src="'data:image/jpeg;base64,' + ${item.image}" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3" th:text="${item.name}"></h6>
                        <div class="d-flex justify-content-center">
                            <h6 th:text="${item.salePrice}"></h6>

                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View
                            Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->


<!-- Footer Start -->
<div th:replace="~{fragments :: footer}">
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<div th:replace="~{fragments :: script}"></div>

<!-- Contact Javascript File -->
<div th:replace="~{fragments :: contact-script}"></div>

<!-- Template Javascript -->
<div th:replace="~{fragments :: template-script}"></div>
</body>

</html>